.root {
  height: 42px;
  min-width: 380px;
  max-width: 460px;
  width: 400px;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1.5px solid #020f11;
  border-radius: 8px;
}

.root:hover {
  border: 1.5px solid #71b98e;
}
