.header {
  width: 100vw;
  min-height: 10vh;
  height: 5.125rem;
  max-height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.25);
  background: #c2e4e8;
}

.header .location {
  display: flex;
  align-items: center;
}

.header .location .locationIcon {
  display: inline-flex;
  margin-right: 1.25rem;
}

.header .location .locationLabel {
  font-size: 1.1rem;
  font-weight: 500;
  word-spacing: 6px;
  color: #196a39;
  letter-spacing: 1px;
}
