.header {
  width: 100%;
  min-height: 10vh;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.location {
  display: flex;
  align-items: center;
}

.locationIcon {
  display: inline-flex;
  margin-right: 1.25rem;
}
